
.headersection{
	/*width:100%; */
	background-color: #eee;
	border-bottom: 3px solid #999;
	margin-bottom: 0.5%;
	opacity: 0.5;
}

.header{
	/*width:100%; */
	background-color: #aaaaaa;
}

.parapadding{
	padding-bottom: 20px;
}

.parapadding1{
	padding-bottom: 3%;
	/*border-bottom: 3px solid #999;*/
}

.imagecss{
	height:200px;
}

.displayedDish{
	height: 230px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

.headername{
	font-size: 3.4vw;
}

.headerdescription{
	font-size: 2vw;
	color: darkgoldenrod;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    /*padding-bottom: 50px;*/
    text-align: center;
    color: #f9f9f9;
    background: url(../images/dark-website-backgrounds-10.jpg) no-repeat center center;
    background-size: cover;
	height: 100vh;
}

.intro-message {
    position: relative;
    padding-top: 20vh;
    /*padding-bottom: 8vh;*/
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5vw;
}

.overviewdinner{
	font-size: 2.5vw;
}

.price {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 80px;
   line-height: 80px;
   text-align: center;
   width: 80px;
 position: absolute;
 top: -10%;
 right: -6%;
}