<div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="lead">My Dinner</p>
				<div>
					People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuests(numberOfGuests)"/>
				</div>
				<div>
					Total number of guest: {{getNumberOfGuests()}}
				</div>

				<hr/>

				<h4>Menu List</h4>
					<table class="table">
						<thead>
							<tr>
							  <th>Dish Name</th>
							  <th>Cost</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="dish in menu">
								<td>{{dish.Title}}</td>
			    				<td>{{getDishTotalPrice(dish)}} SEK</td>
								<td><span class=\"glyphicon glyphicon-remove removeDish\" id=""></td>
							</tr>
							<tr>
							  <td>Pending</td>
							  <td>0 SEK</td>
							</tr>
							<tr>
							  <td>Total</td>
							  <td>{{getTotalMenuPrice()}} SEK</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>
</div>
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- VIEW 2 --- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->


<!-- <div class="col-md-3 col-sm-4" id="myDinnerView" style="display: none;">
	<p class="lead">My Dinner</p>    
	<div class="col-md-12 col-sm-12 col-xs-5" id="guestNumberView">
		<div class="panel panel-default">
			<div class="panel-body">
				<span class="col-md-5">Number of People:</span>
				<span class="col-md-7">
					<span class="col-md-8">
						<span id="numberOfGuests"></span>
					</span>
					<div class="pull-right">
							<button id="minusGuest" class="btn"><span class="glyphicon glyphicon-minus"></span></button>
							<button id="plusGuest" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</span>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-7">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table">
				<thead>
					<tr>
					  <th>Dish Name</th>
					  <th>Cost</th>
					</tr>
				</thead>
				<tbody id="myMenu">
					<tr>
					  <td>Pending</td>
					  <td>0.00</td>
					</tr>
					<tr>
					  <td>Total</td>
					  <td></td>
					</tr>
				</tbody>
				</table>		  
			</div>
		</div>
	</div>
	<div class="col-md-12 parapadding1">
		<div class="btn-group">
			<button class="btn btn-default" type="button" id="confirmDinnerButton" onclick="confirmDinner()">
				Confirm Dinner
			</button>
		</div>
	</div>
</div> -->