<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- VIEW 6 --- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="btn-group">
			<button class="btn btn-default" type="button" ng-click="backToSelectDish()">
				Back to Select Dish
			</button>
		</div>
		<div class="panel-body">
			<div class="col-md-4">
				<h3>{{dish.Title}}</h3> </br>
				<div class="thumbnail"> 
					<img class="img-responsive" style="height:200px;" ng-src="{{dish.ImageURL}}"/>
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<div class="table-responsive">
					<h3> Ingredients </h3>
					<table class="table table-condensed">
						<tr>
							<th>#</th>
							<th>Ingredient</th>
							<th>Quantity required for {{getNumberOfGuests()}}</th>
							<th>Unit</th>
						</tr>
						<tr ng-repeat="indg in dish.Ingredients">
							<td>{{$index + 1}}</td>
							<td>{{indg.Name}}</td>
							<td>{{indg.Quantity * getNumberOfGuests()}}</td>
							<td>{{indg.Unit}}</td>
						</tr>
					</table>
					<div>
						<div class="col-md-8 col-sm-8">
							<div class="btn-group">
								<button class="btn btn-default" type="button" ng-click="confirmDish(dish)">
									Confirm Dish
								</button>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<span class="pull-right">
								<h4>Price: {{getDishTotalPrice(dish)}}</h4>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div><h3>Instructions</h3></br>{{dish.Instructions}}</div>
			</div>
		</div>
	</div>				
</div>