<!-- VIEW 1 --- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

	<div id="landing" class="landingimage col-md-12">
		<div id="landingDiv">
			<div class="textBox" id="landingPage">
				<h3>A Home Dinner Service</h3>
				<hr/>
				<p>some text here, some text here, some text here, some text here, some text here, some text here, some text here, some text here, some text here, some text here, some text here, some text here</p>
				<br/><br/>
				<p>start quickly</p>
				<a href="#/search" class="btn btn-primary btn-md" id="createDinnerButton"> Create new dinner</a>
			</div>
		</div> 
	</div>
			