<!-- VIEW 1 --- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

<div class="intro-header">
	<div class="container">
		<div class="col-md-12">
			<div class="intro-message">
				<h1>A Home Dinner Service</h1>
				<p>some text here, some text here, some text here, some text here,
					some text here, some text here, some text here, some text here,
					some text here, some text here, some text here, some text here</p>
				<hr class="intro-divider">
				<a href="#/search" class="btn btn-default btn-lg" id="createDinnerButton"> <span class="network-name">Create new dinner menu</span></a>
			</div>
		</div>
	</div>
	<!-- /.container -->

</div>
    <!-- /.intro-header -->