<div class="panel panel-default">
	<div class="panel-body">
		<h3>My Dinner: {{getNumberOfGuests()}} People</h3>
		<button class="btn btn-default" type="button" ng-click="go('/search')">
			Go back and edit dinner
		</button>
	</div>
	<div class="panel-body">
		<h1>Overview</h1>
		<div ng-repeat="dish in menu">
			<div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="col-md-12 col-xs-8 thumb">
		            <a class="thumbnail">
			        	<img class="img-responsive center-block imageheight" ng-src="{{dish.ImageURL}}">
		            </a>
	            </div>
		        <div class="col-md-12 col-xs-8 thumb">
		        	<h5><span> {{dish.Title}} </span></h5>
		        </div>
		        <div class="col-md-12 col-xs-8 thumb">
					<p class="parapadding"> {{getDishTotalPrice(dish)}} SEK</p>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<button class="btn btn-default" type="button" ng-click="go('/preparation')">
			Print Full Recipe
		</button>
	</div>
</div>