
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>
					<span class="col-md-4 col-sm-5">Dinner Menu: {{getNumberOfGuests()}} People</span>
					<span class="col-md-1 col-md-offset-6">
					<button class="btn btn-primary" type="button" ng-click="go('/search')">
						Edit dinner
					</button>
					</span>
				</h3>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Overview</h3>
				<div ng-repeat="dish in menu">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="col-md-12 col-xs-8 thumb">
							<a class="thumbnail">
								<h4> {{dish.Title}} </h4>
								<img class="imagecss" style="height:200px;" ng-src="{{dish.ImageURL}}">
							</a>
							<p class="price">{{ getDishTotalPrice(dish) }} SEK</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<button class="btn btn-success pull-right" type="button" ng-click="go('/preparation')">
						Print Full Recipe 
					</button>
				</div>
			</div>
		</div>
	</div>
</div>